# Data files (too large to push)
data/
*.csv
*.xlsx

# Saved models (large binary files)
#models/
#*.pkl
#*.joblib
*.h5

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml